.jumbotron h1{
    color: red;
}

nav * {
    color: blue;
}

.jumbotron p a {
    font-size: small;
}

.blog-post:first-of-type {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid green;
}

.blog-post hr:first-of-type {
   background-color: red;
}

nav span:nth-of-type(even){
    color: green;
}
aside div:nth-of-type(2) ol li{
   background-color: yellow;
}

.blog-post:nth-of-type(2) .blog-post-meta a{
    border: 1px solid red;

}

.blog-post:nth-of-type(3) li:nth-last-of-type(2){
    color: purple;
}

footer+a{
    border: 2px solid green;
}

.blog-pagination a:last-of-type {
  border: 2px solid purple;
}

footer p a:nth-of-type(2){
    text-decoration: underline;
}